<ion-view id="alerts">
	<ion-header-bar align-title="left" class="custom-header bar-positive">
	  <div class="buttons">
	    <button class="custom-button button icon ion-ios-arrow-back" ng-click="goConnect()"></button>
	  </div>
	  <h1 class="title title-right">Alerts</h1>	  
	</ion-header-bar>
    <ion-content class="padding">        
        <ul style="padding: 30px;">
            <li>
                <div class="alert-item">
                    <select>
                        <option value="Saturation 90%">Saturation 90%</option>
                        <option value="Saturation 75%">Saturation 75%</option>
                        <option value="Saturation 50%">Saturation 50%</option>
                        <option value="Saturation 25%">Saturation 25%</option>
                        <option value="Saturation 10%">Saturation 10%</option>
                    </select>
                </div>
                <div class="check-item">
                    <label class="toggle">
                       <input type="checkbox">
                       <div class="track">
                         <div class="handle"></div>
                       </div>
                    </label>
               </div>
            </li>
            <li>
                <div class="alert-item">
                    <select>
                        <option value="Time 4h 00m">Time 4h 00m</option>
                        <option value="Time 3h 00m">Time 3h 00m</option>
                        <option value="Time 2h 00m">Time 2h 00m</option>
                        <option value="Time 1h 00m">Time 1h 00m</option>                        
                    </select>
                </div>
                <div class="check-item">
                    <label class="toggle">
                       <input type="checkbox">
                       <div class="track">
                         <div class="handle"></div>
                       </div>
                    </label>
                </div>
            </li>
            <li>
                <div class="alert-item">
                    <select>
                        <option value="Low Batt 10%">Low Batt 10%</option>
                        <option value="Low Batt 20%">Low Batt 20%</option>
                        <option value="Low Batt 30%">Low Batt 30%</option>                        
                    </select>
                </div>
                <div class="check-item">
                    <label class="toggle">
                       <input type="checkbox">
                       <div class="track">
                         <div class="handle"></div>
                       </div>
                    </label>
                 </div>
            </li>
            <li>
                <div class="alert-item">
                    <select>
                        <option value="Pre-Period 2D">Pre-Period 2D</option>
                        <option value="Pre-Period 3D">Pre-Period 3D</option>
                        <option value="Pre-Period 4D">Pre-Period 4D</option>
                        <option value="Pre-Period 5D">Pre-Period 5D</option>
                    </select>
                </div>
                <div class="check-item">
                    <label class="toggle">
                       <input type="checkbox">
                       <div class="track">
                         <div class="handle"></div>
                       </div>
                    </label>
                </div>
            </li>
        </ul>
    </ion-content>
    <ion-footer-bar  class="custom-footer bar-assertive">
      <ion-tabs class="tabs-positive">
          
        <ion-tab icon="ion-android-home" ng-click="goConnect()">          
        </ion-tab>

        <ion-tab title="" icon="ion-ios-bell">
          <ion-nav-view name="alerts-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-ios-calendar" ng-click="goCalendar()">
          <ion-nav-view name="calendar-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-ios-cart" ng-click="goBuy()">
          <ion-nav-view name="buy-tab"></ion-nav-view>
        </ion-tab>

        <!--<ion-tab title="" icon="ion-help-circled" ng-click="goHelp()">
          <ion-nav-view name="help-tab"></ion-nav-view>
        </ion-tab>-->

      </ion-tabs>
    </ion-footer-bar>
</ion-view>
