<style>
    .footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        text-align: center;
    }
    .logo {
        width: 85px;
        padding: 10px;
    }
    .login-item {
        border: none;
        padding-left: 0px;
        padding-right: 0px;
    }
    .input_item {
        padding-left: 10px !important; 
        height: 50px !important;
        border: solid 2px grey !important;
        border-radius: 5px;
    }
    .remember {
        margin-bottom: 20px;
    }
	.remember label {
		border: none;
		padding-left:45px;
	}
    .button.button-positive {
        border-color: #0c63ee;
        background-color: #387ef5;
        color: #fff;
    }
	.item-checkbox .checkbox {
		left: 0px !important;
	}
    .login-form {
        clear: both;        
    }
    .underline {
        text-decoration: underline;
    }
    .tabs {
        left: 0px;
        background-color: white !important;
        border-top: solid 1px black !important;
    }
    .tab-title {
        color : black;
        font-weight: bold;
    }
    .title {
        font-size: 24px !important;
    }
</style>
<ion-view ng-init="init();" id="connect">    
    <ion-header-bar align-title="left" class="custom-header bar-positive">      
      <h1 class="title">iPon</h1>
      <div class="buttons">
        <a href="#/settings">
            <button class="button setting">
                <img style="width:25px;padding-top: 3px;" class="setting_icon" src="img/setting.png" alt="setting" />
            </button>
        </a>
      </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div>
            <p ng-show="status.bConnecting" class="connecting" ng-click="tryConnecting()">Connecting</p>
            <p ng-hide="status.bConnected || status.bConnecting" class="connect" ng-click="tryConnect()">Connect</p>
            <p ng-show="status.bConnected" class="connected" ng-click="tryConnected()">Connected</p>            
            <img id="Batt_Url" style="float:right; width: 50px;" src="{{Batt_URL}}" alt="charge" />
            <!--<img id="Batt_Url" ng-hide="status.bConnected" style="float:right; width: 50px;" src="{{Batt_URL}}" alt="charge" />-->
            <!--<img id="Batt_Url" ng-show="status.bConnected" style="float:right; width: 50px;" src="img/Batt_100.png" alt="charge" />-->
        </div>
        <div class="login-form">
            <div class="center" ng-show="status.bConnected">
                <!--<img class="percent-img" ng-if="status.connectedClass == 'blue'" src="img/Tampon_90.png" alt="waiting" />
                <img class="percent-img" ng-if="status.connectedClass != 'blue'" src="img/Pad_50.png" alt="waiting" />-->
                <img class="percent-img" src="{{Sat_URL}}" alt="waiting" />
            </div>
            <div class="center" ng-show="status.bConnecting">
                <img style="width: 200px;" src="img/waiting.png" alt="waiting" />
            </div>
            <div class="center" ng-show="status.bConnect">
                <img style="width: 200px;" src="img/Connect_Fail_UI.png" alt="waiting" />
            </div>
        </div>
        
        <div class="">
            <div ng-show="status.bConnecting">
                <div class="waiting-text-big">
                    Waiting for connection
                </div>
                <div class="waiting-text-small">
                    Please make sure your Charm and Sensor are connected
                </div>
            </div>
            
            <div ng-show="status.bConnect">
                <div class="waiting-text-big">
                    Try again
                </div>
                <div class="waiting-text-small">
                    Please make sure your Charm and Sensor are connected
                </div>
            </div>
        </div>
        
        <div class="bottom-text">
            <div ng-show="status.bConnected" class="center pink">
                <div class="big-text">
                    Saturation
                </div>
                <div class="tiny-text">
                    Time since your last replacement
                </div>
                <div class="small-text">
                    {{status.use_time}}
                </div>
            </div>
            
            <div class="center explain" ng-class="status.connectedClass" ng-show="status.bConnected">
                <div class="small">
                    {{status.connectedSmallText}}
                </div>
                <div class="big">
                    {{status.connectedBigText}}
                </div>
            </div>
        </div>
    </ion-content>
    
    <ion-footer-bar  class="custom-footer">
      <ion-tabs class="tabs-positive">

        <ion-tab icon="ion-android-home" ng-click="goConnect()">          
        </ion-tab>
          
        <ion-tab title="" icon="ion-ios-bell" ng-click="goAlert()">
          <ion-nav-view name="help-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab  icon="ion-ios-calendar" ng-click="goCalendar()">
          <ion-nav-view name="calendar-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-ios-cart" ng-click="goBuy()">
          <ion-nav-view name="buy-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </ion-footer-bar>

</ion-view>
