<ion-view id="help">
	<ion-header-bar align-title="left" class="custom-header bar-positive">
	  <div class="buttons">
	    <button class="custom-button button icon ion-ios-arrow-back" ng-click="goConnect()"></button>
	  </div>
	  <h1 class="title title-right">Help</h1>	  
	</ion-header-bar>
    <ion-content class="padding">        
        <ul style="padding: 10px;">
            <li>
                <a class="item item-icon-right" href="#">                    
                    <span>How to use our products</span>
                    <i class="icon ion-ios-arrow-right"></i>
                 </a>
            </li>            
            <li>
                <a class="item item-icon-right" href="#">                    
                    <span>Women's health tips</span>
                    <i class="icon ion-ios-arrow-right"></i>
                 </a>
            </li>            
            <li>
                <a class="item item-icon-right" href="#">                    
                    <span>Contact us</span>
                    <i class="icon ion-ios-arrow-right"></i>
                 </a>
            </li>            
            <li>
                <a class="item item-icon-right" href="#">                    
                    <span>Abous us</span>
                    <i class="icon ion-ios-arrow-right"></i>
                 </a>
            </li>
        </ul>
    </ion-content>
    <ion-footer-bar align-title="left" class="custom-footer bar-assertive">
      <ion-tabs class="tabs-positive">

        <ion-tab title="" icon="ion-ios-bell" ng-click="goAlert()">
          <ion-nav-view name="alerts-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-ios-calendar" ng-click="goCalendar()">
          <ion-nav-view name="calendar-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-ios-cart" ng-click="goBuy()">
          <ion-nav-view name="buy-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-help-circled">
          <ion-nav-view name="help-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </ion-footer-bar>
</ion-view>
