<ion-view id="settings">
	<ion-header-bar align-title="left" class="custom-header bar-positive">
	  <div class="buttons">
	    <button class="custom-button button icon ion-ios-arrow-back" ng-click="goConnect()"></button>
	  </div>
	  <h1 class="title title-right">Settings</h1>	  
	</ion-header-bar>
    <ion-content class="padding">
        <ul class="setting">
        	<li>Profile</li>
        	<li>Preferences</li>
        	<li>History</li>
        	<li>Language</li>
            <li ng-click="goHelp();">Help</li>
        </ul>
        <div class="select">
        	<p>Select your product</p>
        	<div class="products">
        		<div class="product" ng-click="selectProduct(1)">
        			<span>Tampon</span>
        		</div>
        		<div class="product" ng-click="selectProduct(2)">
        			<span>Pantiliner</span>
        		</div>
        	</div>
        </div>
    </ion-content>
    
    <ion-footer-bar  class="custom-footer bar-assertive">
      <ion-tabs class="tabs-positive">
          
        <ion-tab icon="ion-android-home" ng-click="goConnect()">          
        </ion-tab>

        <ion-tab title="" icon="ion-ios-bell" ng-click="goAlert()">
          <ion-nav-view name="alerts-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-ios-calendar" ng-click="goCalendar()">
          <ion-nav-view name="calendar-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="" icon="ion-ios-cart" ng-click="goBuy()">
          <ion-nav-view name="buy-tab"></ion-nav-view>
        </ion-tab>

        <!--<ion-tab title="" icon="ion-help-circled" ng-click="goHelp()">
          <ion-nav-view name="help-tab"></ion-nav-view>
        </ion-tab>-->

      </ion-tabs>
    </ion-footer-bar>
</ion-view>
